.verticalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontalBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: 3vw;
  background-color: bisque;
  margin: 1%;
}

.button:hover {
  font-size: 3vw;
  background-color: rgb(254, 190, 111);
  margin: 1%;
}

.label {
  font-size: 3vw;
  font-weight: bold;
}

.closeButton {
  font-size: 1.5vw;
  background-color: brown;
  color: azure;
}
