.navButton {
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 5%;
  height: 50%;
  width: 8%;
  color: black;
  font-size: 1.7vw;
  text-align: center;
}

.navBar {
  background-color: #b4b5c4;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
