.block{
    margin: 1.5%;
    width: 20vw;
    height: 29vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5eea00;
}

.block:hover{
    background-color: #ade588;
}

.text{
    font-size: 2.5vw;
    font-weight: bold;
    max-width: 18vw;
    word-wrap: break-word;
}